.css-1aqny2q-MuiPickersCalendarHeader-root {
    background-color: #F97316;
    color:white;
}
.css-1rtg91x-MuiDateCalendar-root{
    border: 1px solid rgb(229, 227, 227);
    border-radius: 5px;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    background-color: #F97316;
    color: white;
    border: 1px solid #F97316;}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #F97316;
}